@using Tarea2BDRazor.Models;

@{ Usuario user= new Usuario();
   Comentario comentario = new Comentario();
   }

@{
    ViewBag.Title = "Temas";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">

 @if (int.Parse(Session["IDG"].ToString()) != 4) {
    <text>
        ¡Hola, @Html.ActionLink(Session["user_name"].ToString(), "MiPerfil", "Home")!
        @Html.ActionLink("Logout", "Logout", "Home")
        @Html.ActionLink("Inicio", "Categorias", "Home")
    </text>
    }
   else
   {
      @Html.ActionLink("Inicio", "Index", "Home")
   }
}
            
   

<h2>@ViewBag.NombreCat</h2>

     @{
        int i = 0;
        foreach (Tema elemento in ViewBag.Temas)
        {
            
                 
            <ul>
                <li>@Html.ActionLink(elemento.nombre, "Tema", new { controller="Categorias", nombreTema = elemento.nombre}) </li>
                <ul>
                <li>Descripción: @elemento.descripcion</li>
                <li>Publicado por: @Html.ActionLink(@user.obtenerNombreUsuarioPorID(elemento.id_usuario), "VerPerfil", new { controller="Home", nombre = user.obtenerNombreUsuarioPorID(elemento.id_usuario)})</li>
                <li>Cantidad de comentarios: @comentario.cantidadComentariosPorIDTema(elemento.id_tema)</li>
              
                 @{if(int.Parse(Session["IDG"].ToString()) == 1)
                 {         
                     <li>@Html.ActionLink("Eliminar Tema", "EliminarComentariosRec", new { controller="Categorias", id_tema = elemento.id_tema, id_categoria = elemento.id_categoria})   </li> 
                 }
                 }
                 </ul>                
          </ul>
            i++;  
         }     
            if(int.Parse(Session["IDG"].ToString()) != 4)
            {   
             <ul> <li>@Html.ActionLink("Crear Tema", "CrearTema", new { controller="Categorias", id_categoria = ViewBag.idCategoria})</li> </ul>
            }
         
    }
            </div>
        </section>
}