@using Tarea2BDRazor.Models;
@{
    ViewBag.Title = "Página principal";
}

@if (int.Parse(Session["IDG"].ToString()) != -1) {
    <text>
        ¡Hola, @Html.ActionLink(Session["user_name"].ToString(), "VerPerfil", "Home")!
        @Html.ActionLink("Logout", "Logout", "Home")
    </text>
}


@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <ul>
                <li>@Html.ActionLink("Registrarse", "Registrarse", "Home")</li>
                <li>@Html.ActionLink("Iniciar sesión", "Loguear", "Home") </li>
            </ul>
        

        <ul>
            @{
                Tema tema = new Tema();
                foreach (Categoria elemento in ViewBag.ListCategorias)
                {
                 if (elemento.publico == true){
                
                     <li>@elemento.nombre
                         <ul>

                            <li>Descripción: @elemento.descripcion</li>
                            <li>Cantidad de Temas: @tema.CantidadTemasPorIDCategoria(elemento.id_categoria)</li>
                            <li>Cantidad de Comentarios: </li>
                         
                         </ul>
                     </li>     
                 }
                }
            }
            </ul>
       </div>
</section>

}