@using Tarea2BDRazor.Models;
@{
    ViewBag.Title = "Página principal";
}




@section featured {
    <section class="featured">
        <div class="content-wrapper">

 @if (int.Parse(Session["IDG"].ToString()) != 4) {
    <text>
        ¡Hola, @Html.ActionLink(Session["user_name"].ToString(), "MiPerfil", "Home")!
        @Html.ActionLink("Logout", "Logout", "Home")
        @Html.ActionLink("Inicio", "Categorias", "Home")
        @Html.ActionLink("Mail", "BuzonEntrada", "Home")
    </text>
    }
   else
   {
      @Html.ActionLink("Inicio", "Index", "Home")
   }
}
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>

            <ul>
                <li>@Html.ActionLink("Registrarse", "Registrarse", "Home")</li>
                <li>@Html.ActionLink("Iniciar sesión", "Loguear", "Home") </li>
            </ul>
        

        <ul>
            @{
                Categoria idCat = new Categoria();
                int i = idCat.obtenerPrimerIDCategoria();
                Tema tema = new Tema();
                foreach (Categoria elemento in ViewBag.ListCategorias)
                {
                 if (elemento.publico == true){
                
                     <li>@Html.ActionLink(elemento.nombre, "Temas", new { controller="Categorias", nid = i, id_user = Session["ID"].ToString()}) 
                         <ul>

                            <li>Descripción: @elemento.descripcion</li>
                            <li>Cantidad de Temas: @tema.CantidadTemasPorIDCategoria(elemento.id_categoria)</li>
                            <li>Cantidad de Comentarios: @elemento.numComentariosPorCategoria(elemento.id_categoria) </li>
                         
                         </ul>
                     </li>     
                 }
                }
            }
            </ul>
       </div>
</section>

}