@model Tarea2BDRazor.Models.Usuario
@{
    ViewBag.Title = "Login";
}

 @if (int.Parse(Session["IDG"].ToString()) != 4) {
    <text>
        ¡Hola, @Html.ActionLink(Session["user_name"].ToString(), "MiPerfil", "Home")!
        @Html.ActionLink("Logout", "Logout", "Home")
        @Html.ActionLink("Inicio", "Categorias", "Home")
    </text>
    }
   else
   {
      @Html.ActionLink("Inicio", "Index", "Home")
   }
}

<h2>Login</h2>
@ViewBag.Message
@ViewBag.Message1


@using (Html.BeginForm("Loguear", "Home", FormMethod.Post))
{
    
    <fieldset>
        <legend> Ingrese sus datos </legend>
        <p>
            <label for="Nombre">Nombre:</label>
            @Html.TextBoxFor(m => m.nombre)
        </p>
        <p>
            <label for="Contraseña">Contraseña:</label>
            @Html.TextBoxFor(m => m.contraseña)
        </p>
        <p>
            <input type="submit" value="Loguear" />
        </p>
    </fieldset>
}
